.Title {
    color: blue;
    font-size: 24px;
    text-align: center;
  }
.List {
    color: green;
    font-size: 18px;
}
  
.product {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
  }
  
.product h3 {
    color: red;
  }
  
.product p {
    color: black;
  }
  
.chats {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
  }
  
.chats h3 {
    color: red;
  }
  
.chats p {
    color: navy;
  }