<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" href="/static/images/favicon.ico">
  <title>네고봇</title>
</head>
<body>
  <h1 class="Title"><a href="/">네고봇</a></h1>
  <ul class="nav">
    <li><a href="/"><b>판매 목록</b></a></li>
    <li><a href="/signup">회원등록</a></li>
    <li><a href="/ranking">회원 랭킹</a></li>
    <li><a href="/feedback">피드백 남기기</a></li>
  </ul>
  
  <div class="main-content">
    {% block subtitle %}{% endblock %}
    {% block content %}{% endblock %}
      <div class="bottom">네고봇. 꿀먹는 호랑이. 2023</div>
  </div>
</body>
</html>
