{% extends "base.html" %}

{% block subtitle %}
<h2 class="List">대화</h2>
{% endblock %}  

{% block content %}

  {% for chat in chats %}
  <div class="chats">
    <h3>agent:{{ chat.agent }}</h3>
    <p>{{ chat.text }}</p>
  </div>
  {% endfor %}

  <form method="POST" action="{{ url_for('get_chatting', product_id=product.id) }}">
    <div>
        <label for="text">input text:</label>
        <input type="text" id="text" name="text">
        <input type="submit" value="입력">
    </div>
    <div>
        <p>나가려면 "끝" 이라고 입력</p>
    </div>
  </form>

{% endblock %}

