{% extends "base.html" %}

{% block subtitle %}
<h2 class="List">판매 상품 목록</h2>
{% endblock %} 

{% block content %}
<div class="product-list">
  {% for product in products %}
  <div class="product">
    <div class="product-image">
      <img src="/static/images/{{ product.image }}" alt="{{ product.title }}">
    </div>
    <div class="product-details">
      <h3>{{ product.title }}</h3>
      <p>{{ product.description }}</p>
      <p>가격: {{ product.price }}₩</p>
      <button class="product-button" data-product-id="{{ product.id }}">입장</button>
    </div>
  </div>
  {% endfor %}
</div>
  <script src="static/js/script.js"></script>
{% endblock %}  

