{% extends "base.html" %}

{% block subtitle %}
<h2 class="List">로그인</h2>
{% endblock %} 

{% block content %}
  <form method="POST" action="/login" autocomplete="off">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <input type="submit" value="Log In">
    </div>
    {% for message in messages %}<p class="error">{{message}}</p>{% endfor %}
  </form>
{% endblock %}

